@import "../Vars.styl";
@import "../Mixins.styl";

.gridAbout__item--container
  position relative
  width 33.33333%
  height 100vh
  display flex
  overflow hidden

.gridAbout__image
  width 100%
  height 100%
  object-fit cover
  z-index 0

.gridAbout__specialty--container
  position absolute
  display flex
  flex-direction column
  justify-content flex-end
  transform rotate(-90deg) translateX(50%)

.gridAbout__specialty
  // align-self center
  text-transform uppercase
  color color8
  font-size titlesFontSize + .2rem
  z-index 10

.gridAbout__specialty.second
  display none