@import "../Vars.styl"

.buttonContact__container
  width fit-content
  height 4rem
  align-self flex-end
  margin 1.5rem 2rem 0 0
  border-bottom 2px solid color1
  border-top 2px solid color1
  a
    display inline-block
    margin 1rem 0
    text-decoration none
    color color1
    font-weight 700
    font-size textFontSize
    text-align center