@import "../Vars.styl"

.gridContact__socialMedia
  margin-right 2rem
  grid-column 4/7
  grid-row 5/7
  align-self center
  justify-self flex-end


.gridContact__socialMedia--title
  margin-bottom .5rem
  font-size titlesFontSize
  color color

.gridContact__socialMedia--socials
  display block
  margin-bottom .7rem
  text-align right
  text-decoration none
  font-family fuente-principal
  font-weight 300
  font-size textFontSize - 0.3rem
  color color3

.gridContact__socialMedia--socials>svg
  color color3
  margin-left 5px