@import "../Vars.styl"

.contactForm
  display flex
  width 90%
  height 100%
  margin auto
  justify-content center
  align-items center

.contactForm form
  display flex
  flex-direction column
  justify-content flex-start
  width 100%

.contactForm__closeButton
  align-self flex-end
  font-weight 400
  font-size titlesFontSize + 0.4rem
  font-family fuente-principal
  outline none
  border none
  background transparent
  color color2
  transform translateY(-1rem)

.contactForm__input--container
  display flex
  align-content center
  justify-content center
  margin-bottom 2rem
  gap 6rem

.contactForm__label
  width 100%
  display flex
  flex-direction column
  font-size textFontSize
  font-weight 400
  color color4
  input
    width 100%
    margin-top 1rem
    padding 0.5rem
    height 2.4rem
    font-weight 400
    font-family fuente-principal
    font-size textFontSize - 0.2rem
    border 0.05rem solid color7
    outline none
    background transparent
    -webkit-border-radius 0
  input::placeholder
    color color6
    opacity 0.2
  input:focus
    outline none
    border-color rgba(240, 121, 35, 0.4)
    box-shadow 0px 0px 2px rgba(240, 121, 35, 1)
    -webkit-appearance none


.contactForm__textarea
  margin-top 1rem
  padding 0.5rem
  height 8rem
  font-weight 400
  font-family fuente-principal
  font-size textFontSize - 0.2rem
  border 0.05rem solid color7
  outline none
  background transparent
  resize none
  -webkit-appearance none
  -webkit-border-radius 0

.contactForm__textarea::placeholder
  color color6
  opacity 0.2

.contactForm__textarea:focus
  outline none
  border-color rgba(240, 121, 35, 0.4)
  box-shadow 0px 0px 4px rgba(240, 121, 35, 1)

.contactForm__button
  width 16rem
  height 2.7rem
  font-weight 400
  font-size textFontSize - 0.2rem
  font-family fuente-principal
  background transparent
  outline none
  border 0.05rem solid color4
  color color4

.contactForm__button:hover
  color color8
  background-color color4
