.gridContact__socialMedia
    grid-column 5/7
    grid-row 5/7
    justify-self flex-end
    transform translateX(-1rem)
    .gridContact__socialMedia--title
        margin-bottom .5rem
        font-family fuente-principal
        font-size titlesFontSize
        color color5
    .gridContact__socialMedia--socials
        display block
        margin-bottom .3rem
        text-align right
        text-decoration none
        font-family fuente-principal
        font-size textFontSize - 0.3rem
        color color7
