.footer
    width 90%
    height 7.7rem
    margin auto
    display grid
    grid-template-columns repeat(2, 1fr)
    justify-content center
    align-items center
    color color5
    font-family fuente-principal
    font-weight 300
    .footer__contact
        text-align left
    .footer__contact p 
        margin-bottom 0.3rem
    .footer__brand 
        text-align right
    .footer__brand p 
        margin-bottom 0.3rem
.isDark 
    color color8

.footer__brand .footer__social-media
    display flex
    justify-content flex-end

.footer__brand .footer__social-media a
    width auto
    margin 0 0 0 0.6rem
    border none
    background none


