@import "../Vars.styl"
@import "../Mixins.styl"

.Filmmaking-body
  background-color color4

.gridVideo
  width 90%
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-template-rows repeat(auto, 7fr)
  row-gap 2rem
  margin 2rem auto

