@import "../Vars.styl"
@import "../Mixins.styl"

.gridAbout
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  overflow hidden

.gridAbout__title
  position fixed
  align-self center
  font-size titlesFontSize + 1.5rem
  text-align center
  text-transform uppercase
  letter-spacing .4rem
  color color7
  z-index 10
