.gridIlustrations
    width 90%
    margin 1.3rem auto 0 auto
    display grid
    grid-template-columns repeat(5, 1fr)  
    grid-template-rows repeat(5, 0.45fr)    
    gap .2rem .2rem
    .ilustration1
        grid-column 1/4
        grid-row 1/2
        overflow hidden
        img
            width 100%
            transform translateY(-10%)
    .ilustration2
        grid-column 4/6
        grid-row 1/3
        overflow hidden
        img
            width 150%
            transform translateX(-25%)
    .ilustration3
        grid-column 1/4
        grid-row 2/4
        overflow hidden
        img
            width 140%
            transform translateX(-5%)
    .ilustration4
        grid-column 4/6
        grid-row 3/5
        overflow hidden
        img
            width 200%
            transform translateX(-25%)
    .ilustration5
        grid-column 3/4
        grid-row 4/5
        overflow hidden
        img
            width 270%
            transform translate(-30%, -5%)
    .ilustration6
        grid-column 1/3
        grid-row 4/6
        overflow hidden
        img
            width 200%
            transform translateX(-25%)
    .ilustration7
        grid-column 3/6
        grid-row 5/6
        overflow hidden
        img
            width 100%
            transform translateY(-18%)