
.gridItem__container
  display flex
  overflow-x hidden
  justify-content center
  align-items center

.gridItem__item
  width 100%
  height 100%
  object-fit cover

.landscape
  grid-column span 2
  grid-row span 1

.portrait
  grid-row span 4
  grid-column span 2

.landscape.skeleton__container
  height 12rem