@import "../Vars.styl"

.sliderReel__header
  display flex
  justify-content space-between
  align-items center
  margin 1rem

.sliderReel__header--number
  font-size 1.6rem
  font-weight 400
  color color6
  opacity 0.6

.sliderReel__header--buttons
  display flex
  justify-content space-between
  align-items center
  margin 1rem
  gap 2rem

.sliderReel__header--buttons>button
  display flex
  justify-content center
  align-items center
  text-align center
  font-size 1.8rem
  border none
  background transparent
  outline none
  color color6
  opacity 0.6