@import "../Vars.styl"

.linkCard__container
  width 90%
  display flex
  margin auto
  flex-direction column
  justify-content center
  align-items flex-start

.linkCard__section--container
  position relative
  width 100%
  height 23.8rem
  margin-bottom 1rem
  display flex
  flex-direction columnz
  justify-content center
  align-items center
  overflow hidden

.linkCard__images--glass
  position absolute
  width 100%
  height 100%
  background-color rgba(26, 24, 23, 0.5)
  z-index 10

.linkCard__images--container
  width 100%
  height 100%
  display flex
  transition 1s all ease

.linkCard__image
  min-width 100%
  height 100%
  object-fit cover
  z-index 0

.linkCard__title
  position absolute
  width fit-content
  font-size titlesFontSize + 0.2rem
  font-weight 400
  text-decoration underline
  letter-spacing 0.5rem
  text-align center
  text-transform uppercase
  color color8
  z-index 10
