
.container-menu-bar
    menuSlideBar()
    transition: 1s linear
    ul
        // padding: 0
        list-style: none
    li
        padding: 2em 2em
        margin-top: 1.5em
        margin-bottom: 1em
.nav-links
    text-decoration: none
    font-family: fuente-principal
    font-weight: 900
    font-size: titlesFontSize + 3.5rem
    color: color2
    line-height: 1.2em 
    text-align: left 
.menu-close-button
    align-self: flex-end
    margin: 5%
    transform: scale(2.5)
    color: color9 

