
.container-menu-bar
    menuSlideBar()
    transition: 1s linear
    ul
        list-style: none
        
    li
        padding: 2em 2em
        margin-top: 1.5em
        margin-bottom: 1em
.isLight
    background color8

.nav-links
    text-decoration: none
    font-family: fuente-principal
    font-weight: 900
    font-size: titlesFontSize + 3.5rem
    color: color2
    line-height: 1.2em 
    text-align: left 

.menu-close-button
    align-self: flex-end
    margin: 7% 7% 7% 7%
    font-family fuente-principal
    font-weight 500
    transform: scale(3.8)
    color: color1

