
.container-menu
    display: flex
    align-content:center
    justify-content: space-between
    // border: 2px solid color1
    background-color transparent
    .logo
        padding 1.6rem 1rem
        font-family: fuente-principal
        font-size: textFontSize - 0.2rem
        color: color4
        text-decoration: none
    .isDark
        color color8