@import "../Vars.styl"

.PresentationCard__container
  width 90%
  margin 2.9rem auto
  display flex
  gap 1rem
  justify-content center
  align-items center

.PresentationCard__image
  width 17rem
  height 34.4rem

.PresentationCard__text--container
  min-width 19.5rem
  display flex
  flex-direction column
  gap 3.3rem

.PresentationCard__text
  font-weight 400
  font-size textFontSize
  line-height 164%
  color color5

.PresentationCard__text>span
  color color3

.PresentationCard__link--container
  width fit-content

.PresentationCard__link
  font-size textFontSize
  font-weight 400
  text-decoration none
  color color5

.Presentation__link--icon
  margin-left 1rem
  font-size textFontSize
  color color5

.PresentationCard__link--underline
  width 100%
  height 0.05rem
  background-color color7
