@import "../Vars.styl"

.PresentationCard__container
  width 90%
  margin 2.9rem auto
  display flex
  gap 1rem
  justify-content center
  align-items center

.PresentationCard__text--container
  min-width 19.5rem
  display flex
  flex-direction column
  gap 3.3rem

.PresentationCard__text
  font-weight 400
  font-size textFontSize
  line-height 164%
  color color5

.PresentationCard__text>span
  color color3