@import "../Vars.styl"

.profileMenuNav__container
  grid-column 1/4
  grid-row 1/11
  justify-self flex-start
  transform translateX(calc(-100% + 3rem))
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 22rem
  height 100vh
  background-color transparent
  gap 4rem
  z-index 10
  transition 0.5s all ease

.profileMenuNav__items--container
  display flex
  gap 4rem
  flex-direction column
  justify-content center
  align-items center

.profileMenuNav__container.isOpen
  background-color color4
  transform translateX(0)

.profileMenuNav__button
  position fixed
  display flex
  justify-content center
  align-items center
  align-self flex-end
  gap 3px
  width 3rem
  heigth fit-content
  border none
  outline none
  background-color transparent

.profileMenuNav__button>div
  width 1px
  height 4.4rem
  background-color color8

.profileMenuNav__button>div:nth-child(2)
  width 2px
