@import "../Vars.styl"

.profileMenuNav__items
  list-style none

.profileMenuNav__items>a
  font-size 2rem
  font-weight 300
  text-align center
  color color8
  text-transform capitalize
  text-decoration none