@import "../Vars.styl"

.sections
  width 90%
  margin 5.7rem auto 2rem auto
  display flex
  flex-direction column
  align-items center

.sections__items
  display flex
  gap 2rem
  list-style none

.link
  font-size textFontSize - 0.2rem
  font-family fuente-principal
  color color5
  text-decoration none

.sections__title
  margin-top 1.3rem
  text-transform uppercase
  font-size 2.5rem
  font-family fuente-principal
  font-weight 900
  color color7
  opacity 0.2

.link.isSelected
  text-decoration underline
  color color3