.grid__link
    display flex 
    justify-content center
    margin 20px auto
    width auto
    border none
    background color8
    font-family fuente-principal
    font-size 3rem
    font-weight 500
    text-decoration none
    color color2 

.container__icons
    margin-left 1.6rem
    align-self center
    color color2
    transform scale(0.8)