.slider
    width 100%
    grid-column 1/8
    grid-row 1/4
    align-self center
    transform translateX(2.5rem)
    .slider__text
        font-size titlesFontSize + 0.3rem
        font-family fuente-principal
        color color5
    .slider__container
        min-width 100%
        display flex
        flex-wrap nowrap
        transform translateX(-1.5rem)
        overflow hidden
        .slider__animation
            min-width 100%
            display inline
            font-size titlesFontSize + 0.7rem
            font-family fuente-principal
            color color1
            text-transform uppercase
            transition 2.5s all         
