@import "../Vars.styl"

.socialMedia__container
  display flex
  margin-right 2rem
  width fit-content
  align-self flex-end
  gap 1rem
  z-index 10

.socialMedia__item
  font-size titlesFontSize
  color color2
