@import "../Vars.styl"

.socialMedia__container
  display flex
  gap 1rem
  width fit-content
  align-self flex-end
  margin 1rem 2rem 0 0

.socialMedia__container>a
  font-size textFontSize
  color color2
