.gridContact__submit
    display flex
    flex-direction column
    justify-self flex-start
    // align-self center
    justify-content space-evenly
    grid-column 1/5
    grid-row  8/9
    transform translateX(2rem)
    .gridContact__submit--title
        display flex
        justify-content space-between
        font-family fuente-principal
        font-size textFontSize
        color color5
        .gridContact__submit--icon
            font-size 1.5rem
            align-self: center
            color color7
    .gridContact__submit--form
        background transparent
        color color7
        outline none
        border none
        border-bottom 1px solid color7