@import "../Vars.styl"

.title__container
  display flex
  flex-direction column
  width 100%
  grid-column 1/6
  grid-row 7/10
  h2
    margin-right 2rem
    color color9
    text-align right
    font-style normal
    font-weight 300
    font-size 4rem
  h1
    color color9
    text-transform uppercase
    text-align right
    font-weight 500
    font-size titlesFontSize + 1.2rem

.title__slideshow--container
  display flex
  flex-wrap nowrap
  min-width 100%
  overflow hidden

.slide
  display inline-block
  min-width 100%
  transition 2000ms ease all
