.container-title
    title()
    h2
        // margin: 0 auto  
        // width: 100%
        color: color9
        text-align: right
        font-family: fuente-principal
        font-style: normal
        font-weight: 1
        font-size: titlesFontSize + 2.2em
        line-height: 47px;
        transform translate(-1rem)
    h1
        // margin: 0px
        // width: 100%
        color: color9
        text-align: right
        font-family: fuente-principal
        font-style: normal
        font-weight: 500
        font-size: titlesFontSize + 1.2rem
        letter-spacing: -0.04em
    .container-title-slideshow
        slideShow()
        display: flex
        flex-wrap: nowrap 
        
    .slide
        display: inline-block
        min-width: 100%
        transition: 2000ms ease all

        