@import '../assets/styles/Vars.styl'

.carousel__modal
  display flex
  flex-direction column
  justify-content space-between
  width 100vw
  height 100vh
  background color8
  position fixed
  top 0
  z-index 100

.sliderReel__slider
  position relative
  display flex
  align-items center
  justify-content space
  width 100%
  height 100%
  overflow hidden

.sliderReel__showcase--buttons
  position absolute
  width 4rem
  height 100%
  z-index 100

.sliderReel__showcase--buttons.left
  left 0

.sliderReel__showcase--buttons.right
  right 0

.slider__reel--photo
  width 100%