@import '../assets/styles/Vars.styl'

.carousel__modal
  display flex
  flex-direction column
  justify-content space-between
  width 100vw
  height 100vh
  background color8
  position fixed
  top 0
  z-index 100

