@import "../assets/styles/Vars.styl"

.Modal
  display flex
  justify-content center
  align-items center
  position fixed
  bottom -50%
  width 100vw
  min-height 30rem
  background color8
  box-shadow 0.5px 0 5px rgba(179, 172, 168, 0.5)
  transition 0.5s ease all

.Modal.isOpen
  bottom 0
