//import Rubik Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap')
//metodologia Bem
//bloque-elemento-modificador
//variables / mixins / funciones de primero
/*
    selector{
        funciones/mixins
        displays
        property of the display(grid or flexbox)
        positions / width / height / top, lef, right, etc
        fonts and styles
    }
*/

@import './Vars.styl'

*
    padding 0px
    margin: 0px
    box-sizing border-box

html
    font-size 62.5%

body 
    background-color color8
