@import "./Vars.styl"

.reel__container
  position fixed
  width 100%
  height 100vh
  z-index -20
  overflow hidden

.reel
  transform translateX(-35%)
  height 100%
  filter grayscale()

.wrap_container
  height 91vh
  display grid
  grid-template-columns repeat(5, 1fr)
  grid-template-rows repeat(10, 1fr)
  overflow hidden
