// Mixins

title()
    grid-column 1/6
    grid-row 7/8
    width: 100%
    // border: solid color1
slideShow()
    max-width: 100%
    overflow: hidden

videoDescription()
    font-family fuente-principal

titleVideoDescription()
    font-size titlesFontSize + 0.2rem
    font-weight 900
    color color3

captionVideoDescription()
    font-weight 500
    font-size textFontSize - 0.3rem
    color color8

authorVideoDescription()
    font-weight 300
    font-size textFontSize - 0.4rem
    color color8
