@import "./Vars.styl"

.linkCards__wrapper
  position relative
  width 100%
  display flex
  flex-direction column
  gap 2.1rem

.titlePortfolio__container
  width 90%
  margin 1.7rem auto
  display flex
  justify-content center
  align-items center
  gap 1.5rem

.titlePortfolio__strokes
  width 10rem
  height 0.1rem
  background-color color5

.titlePortfolio__text
  font-size titlesFontSize + 0.2rem
  font-weight 400
  text-transform uppercase
  color color5