/*VARIABLES*/
//paleta de colores
color1 = #e56000
color2 = #F07923
color3 = #ff9f59
color4 = #1a1817
color5 = #33302e
color6 = #665a52
color7 = #B3ACA8
color8 = #FFF8F2
color9 = #FFFFFF
//FONTS
fuente-principal = 'Rubik', sans-serif
titlesFontSize = 1.8rem
textFontSize = 1.6rem 