/* Variables */
// Paleta de colores
color1 = #e56000
color2 = #F07923
color3 = #ff9f59
color4 = #1a1817
color5 = #33302e
color6 = #665a52
color7 = #b3aca8
color8 = #fff8f2
color9 = #ffffff

// Fonts
fuente-principal = 'Rubik', sans-serif
titlesFontSize = 1.8rem
textFontSize = 1.6rem